body {
  font-family: "Work Sans", sans-serif;
}
section {
  height: 100vh;
  text-align: center;
  margin: 0 auto;
}

section,
footer {
  float: left;
  width: 100%;
}

section.with-background {
  background-image: url("back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  flex-direction: row;
}

.nav-bar li {
  margin: 0.5rem;
}

.main-description {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
}

.main-description * {
  margin: 3vh;
}
.second-wrapper * {
  margin: 3vh;
}

.main-button {
  background-color: #ffa58fff;
  border-color: unset;
  border-width: unset;
  border-style: unset;
  padding: 1rem 2.6rem;
  width: 15rem;
  margin: auto;
  margin-top: 5vh;
  text-align: center;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  margin: 5vh auto;
  align-items: baseline;
}

.sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-title {
  width: 104%;
  background-color: gray;
  color: white;
  font-size: 1.25rem;
  padding: 1.25rem 0;
  transform: translate(-2%, 0);
}

.sub-item:nth-of-type(2) .sub-title,
.sub-item:nth-of-type(2) .sub-button {
  background-color: #58ad52;
}

.sub-item:nth-of-type(2) .sub-list {
  background-color: #dfebdf;
}

.sub-item:last-of-type .sub-title,
.sub-item:last-of-type .sub-button {
  background-color: #de918cff;
}

.sub-item:last-of-type .sub-list {
  background-color: rgb(221, 202, 201);
}

.sub-list {
  background-color: rgb(182, 182, 182);
}

.sub-list li {
  margin-top: 1rem;
}
/*
.sub-item ul:first-of-type
.sub-item ul:nth-child
{
  color: red;
}

div class="sub-item"
-> h3
-> ul
-> button

h3
.sub-item h3:first-of-type
. 
*/

.sub-list li:last-child {
  margin-bottom: 1rem;
}

.sub-button {
  color: white;
  font-weight: bolder;
  margin-top: 0.5rem;
  padding: 1rem 0;
  background-color: gray;
  border-color: unset;
  border-width: unset;
  border-style: unset;
}

.main-button,
.send-button,
.sub-title,
.sub-button {
  border-radius: 3px;
}

.sub-list {
  border-radius: 0 0 3px 3px;
}

.sub-item {
  width: 32%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 60vw;
  margin: 10vh auto;
  height: calc(100% - 20vh);
}

section p {
  line-height: 1.6;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.contact * {
  margin: auto;
  width: 35%;
  display: flex;
  flex-direction: column;
  border-color: unset;
  border-width: unset;
  border-style: hidden;
  margin: 2vh auto;
  border-radius: 3px;
  padding: 2vh;
}

.demo {
  background-color: #ffa58fff;
}

section:last-of-type {
  background-color: rgb(158, 114, 113);
}

.send-button {
  background-color: #ffa58fff;
  border-color: unset;
  border-width: unset;
  border-style: unset;
  width: 15rem;
}
.white-text {
  color: white;
}
.qst-txt {
  font-size: 0.85em;
}

.contact input[type="email"]::placeholder,
[type="text"]::placeholder {
  color: rgb(223, 198, 196);
}

/* .contact input[type="text"]::placeholder {
  ;
} */

.contact input {
  background-color: rgb(195, 149, 147);
}

#message {
  height: 10vh;
}

/* .contact:nth-of-type(3) {
  height: 10vh;
} */

.send-button {
  padding: 1rem 2.6rem;
  width: 39%;
  margin: auto;
  text-align: center;
  display: grid;
}

img {
  width: inherit;
}

.send-button:hover,
.main-button:hover {
  background-color: rgb(129, 92, 91);
  color: bisque;
}
