body {
  font-family: "Questrial", sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  text-align: center;
  margin: 0 auto;
  scroll-margin-top: 2em;
}

section,
footer {
  float: left;
  width: 100%;
  position: relative;
}

section.with-background {
  background-image: url("back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  transition: 0.6s;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 30px;
  z-index: 1;
  background-color: rgba(255, 165, 143, 0.5);
}

.top-bar h1 {
  display: flex;
  position: relative;
  transition: 0.6s;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}

.nav-bar li {
  margin: 0.5rem;
  position: relative;
  list-style: none;
}

.nav-bar a {
  text-decoration: none;
  color: black;
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  transition: 0.6s;
}

/* .nav-bar a:hover {
  background-color: rgb(136, 90, 88);
} */

.nav-bar .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.top-bar.sticky {
  background-color: #ffa58f;
}

.hamburger {
  display: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: black;
  font-size: 2rem;
}

.hamburger:focus {
  outline: none;
}

.main-description {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
}

.main-description * {
  margin: 3vh;
}

.btnScroll {
  position: fixed;
  bottom: 10px;
  right: 5px;
  border: none;
  background-color: none;
  outline: none;
  background: unset;
  font-size: 4rem;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.btnScroll i:active {
  color: rgb(114, 74, 72);
}

.btnScroll i {
  outline: none;
  border: unset;
  /* border-radius: 50%; */
  box-shadow: 0px 4px 5px -1px rgb(129 60 43);
}

.second-wrapper * {
  margin: 3vh;
}

.main-button {
  background-color: #ffa58fff;
  border-color: unset;
  border-width: unset;
  border-style: unset;
  padding: 1rem 2.6rem;
  width: 15rem;
  margin: auto;
  margin-top: 5vh;
  text-align: center;
  box-shadow: 0px 4px 5px -1px rgb(129 60 43);
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  margin: 5vh auto;
  align-items: baseline;
}

.sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-title {
  width: 104%;
  background-color: gray;
  color: white;
  font-size: 1.25rem;
  padding: 1.25rem 0;
  transform: translate(-2%, 0);
}

.sub-item:first-of-type .sub-button {
  cursor: pointer;
}

.sub-item:nth-of-type(2) .sub-title,
.sub-item:nth-of-type(2) .sub-button {
  background-color: #58ad52;
}

.sub-item:nth-of-type(2) .sub-button {
  cursor: pointer;
}

.sub-item:nth-of-type(2) .sub-list {
  background-color: #dfebdf;
}

.sub-item:last-of-type .sub-title,
.sub-item:last-of-type .sub-button {
  background-color: #de918cff;
}

.sub-item:last-of-type .sub-button {
  cursor: pointer;
}

.sub-item:last-of-type .sub-list {
  background-color: rgb(221, 202, 201);
}

.sub-list {
  background-color: rgb(182, 182, 182);
}

.sub-list li {
  margin-top: 1rem;
}
/*
.sub-item ul:first-of-type
.sub-item ul:nth-child
{
  color: red;
}

div class="sub-item"
-> h3
-> ul
-> button

h3
.sub-item h3:first-of-type
. 
*/

.sub-list li:last-child {
  margin-bottom: 1rem;
}

.sub-button {
  color: white;
  font-weight: bolder;
  margin-top: 0.5rem;
  padding: 1rem 0;
  background-color: gray;
  border-color: unset;
  border-width: unset;
  border-style: unset;
}

.main-button,
.send-button,
.sub-title,
.sub-button {
  border-radius: 3px;
}

.sub-list {
  border-radius: 0 0 3px 3px;
}

.sub-item {
  width: 32%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 70vw;
  margin: 5vh auto;
  height: calc(100% - 20vh);
}

section p {
  line-height: 1.6;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.contact {
  width: 40%;
  margin: 0 auto;
}

.contact * {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-color: unset;
  border-width: unset;
  border-style: hidden;
  margin: 0.5rem 0;
  border-radius: 3px;
  padding: 0.5rem;
  box-sizing: border-box; /* zeby margin(?) i padding byly uwzglednione w width - np. 100% to szerokosc wlasciwa + padding + margin(?); inaczej moze wyjsc ponad 100% */
}

.demo {
  background-color: #ffa58fff;
}

section:last-of-type {
  background-color: rgb(158, 114, 113);
}

.send-button {
  background-color: #ffa58fff;
  border-color: unset;
  border-width: unset;
  border-style: unset;
}

.white-text {
  color: white;
}
.qst-txt {
  font-size: 0.85em;
}

/**************/
/*    FORM    */
/**************/

.contact input[type="email"]::placeholder,
[type="text"]::placeholder {
  color: rgb(223, 198, 196);
  font-family: "Questrial", sans-serif;
}

textarea[id="message"] {
  min-height: 15vh;
  background-color: rgb(195, 149, 147);
}

textarea[id="message"]::placeholder {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: rgb(223, 198, 196);
  font-family: "Questrial", sans-serif;
}

/* .contact input[type="text"]::placeholder {
  ;
} */

.contact input {
  background-color: rgb(195, 149, 147);
}

/* .contact:nth-of-type(3) {
  height: 10vh;
} */

.send-button {
  padding: 1rem 2.6rem;
  margin: auto;
  text-align: center;
  display: grid;
}

img {
  width: inherit;
}

.send-button:hover,
.main-button:hover {
  background-color: rgb(136, 90, 88);
  color: bisque;
  cursor: pointer;
}

.sub-button:hover {
  opacity: 0.7;
  color: rgb(0, 0, 0);
}

.icons a {
  color: white;
  opacity: 0.5;
  padding: 0 0.5rem;
}

.icons {
  margin-top: 1rem;
}

/**************/
/*     RWD    */
/**************/

@media only screen and (max-width: 600px) {
  .top-bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background-color: rgba(255, 165, 143);
    box-shadow: 0px 1px 20px 0px rgb(129, 60, 43);
  }

  .nav-bar li {
    width: 100%;
    flex-direction: column;
    background-color: rgba(255, 165, 143);
    border-top: 1px solid rgb(253, 141, 113);
    margin: 0;
  }
  .nav-bar li:hover {
    background-color: rgb(136, 90, 88);
  }

  .nav-bar a:hover {
    color: bisque;
  }
  .nav-bar {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 100%;
    transform: translateY(10px);
    transition: opacity linear 0.5s;
    box-shadow: 0px 5px 5px -5px rgb(129, 60, 43);
  }

  .nav-bar.show {
    display: flex;
  }

  .nav-bar a {
    width: 100%;
    padding: 1.5rem;
    transition: unset;
  }

  .hamburger {
    display: block;
  }

  .btnScroll.appear {
    visibility: visible;
    opacity: 1;
  }

  img {
    width: 60vw;
  }

  .sub {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 60%;
  }

  .sub-item {
    width: auto;
  }

  .sub-button {
    margin-bottom: 2rem;
  }

  .contact {
    width: fit-content;
  }

  footer .wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}
