section {
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
}
section.with-background {
  background-image: url("back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.top-bar {
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  flex-direction: row;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  margin: 5vh auto;
}

.sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-title {
  width: 104%;
  background-color: gray;
  color: white;
  font-size: 1.25rem;
  padding: 1.25rem 0;
  transform: translate(-2%, 0);
}

.sub-list {
  background-color: rgb(182, 182, 182);
}

.sub-list li {
  margin-top: 1rem;
}

.sub-list li:last-child {
  margin-bottom: 1rem;
}

.sub-button {
  color: white;
  font-weight: bolder;
  margin-top: 0.5rem;
  padding: 1rem 0;
  background-color: gray;
  border-color: unset;
  border-width: unset;
  border-style: unset;
}

.sub-title,
.sub-button {
  border-radius: 5px;
}

.sub-list {
  border-radius: 0 0 5px 5px;
}

.sub-item {
  width: 30%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 60vw;
  margin: 10vh auto;
  height: 100%;
}

<<<<<<< HEAD
ferret {
  background-color: tomato;
}

swinka {
=======
kawia {
>>>>>>> swinka fix
  width: auto;
}
